.todo-input-wrapper {
    margin-bottom: 20px;
}
.btn {
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    padding: 8px;
    width: 69px;
}

.btn-primary {
    color: #042633;
     border: 1px solid #07abb1;
     background-color: transparent;
}

input {
    width: 80%;
    margin-right: 10px;
    padding: 5px;
    line-height: 17px;
    border: solid #18acafb2;
}
